<div class="wrap">
    <div class="search">
        <input type="text" class="searchTerm" placeholder="Cosa stai cercando?" [(ngModel)]="search">
        <button type="submit" class="searchButton" (click)="searchItem()"> Cerca
    </button>
    </div>
    <br>
    <br>

    <div *ngIf="exist" style="margin-top: 70px">
        {{currentGame.id}} <br> Titolo: <input type="text" [(ngModel)]="currentGame.nome" />
        <br> Genere: <select [(ngModel)]="currentGame.genere.descrizione">
                <ng-container *ngFor="let genere of generes">
                    <option>{{genere.descrizione}}</option>
                </ng-container>
            </select>
        <button (click)="editItem()">Applica Modifiche</button>
    </div>
    <div *ngIf="error">
        Non sai cercare!
    </div>