<div class="wrap">
    <div class="search">
        <input type="text" class="searchTerm" placeholder="Cosa stai cercando?" [(ngModel)]="search">
        <button type="submit" class="searchButton"> Cerca
    </button>
    </div>
    <br>
    <br>
    <div>
        <form *ngIf="exist">
            <br>
            <div>id: <input type="text" id="id" placeholder="Modifica l'id..."></div>
            <br>
            <div>name:<input type="text" id="nome" placeholder="Modifica il nome..."></div>
            <br>
            <div>descrizione: <input type="text" id="descri" placeholder="Modifica la descrizione..."></div>
            <br>
            <div>genere: <input type="text" id="descri" placeholder="Modifica il genere..."></div>
            <br>

        </form>
    </div>
</div>