.header {
    width: 100%;
    background: rgb(119, 140, 211);
    text-align: right;
    box-sizing: border-box;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.header>div {
    display: inline-block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
}

.header>div.selected {
    font-size: 18px;
}